title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 @font-face {
    font-family: "Nexa";
    src: url("assets/Nexa\Light.otf");
    font-weight: 300;
    font-style: normal;
 }

  @font-face {
    font-family: "Nexa";
    src: url("assets/Nexa\Regular.otf.otf");
    font-weight: 400;
    font-style: normal;
   }

   @font-face {
    font-family: "Nexa";
    src: url("assets/Nexa\Bold.otf");
    font-weight: 400;
    font-style: normal;
  }


body{
    color: rgb(255, 255, 255);
    font-family: "Nexa";
 }

.containerPai{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    justify-content: center;
    align-items:center ;
 }

card{
    width: 80%;
    height: 90vh;
    background-color:  rgba(255 255 255/.10);
    border-radius: 32px;
    padding: 32px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
 }

.esquerda, .direita {
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
 } 

.formLogin, .facaLogin, .formCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


 }

.formLogin, .facaLogin, .formCadastro, .formCadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
 
input, button {
    padding: 12px 20px;
    border-radius: 12px;
    border: nome;
    outline: nome;
    
}

h2{
    margin-bottom: 32px;
}